
# Virtual Environment
venv/
env/
.venv/
.env/

# Environment variables
.env

# Logs
logs/
*.log

# Tests
tests/
.pytest_cache/
.coverage
htmlcov/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/

